body {
	font-family: 'Share Tech', sans-serif;
	background-color: #129793;
	width: 61.8%;
	margin: auto;
}

header {
	text-align: center;
}

section {
	float: left;
	width: 61.8%;
}

aside { 
	float: right;
	padding: 1%;
	width: 36%;
}

aside h2 {
	margin: 0px;
}

#dragonImg{
	border-top: 1px solid;
}

#dragonImg img {
	max-width: 100%;
}